Dockerfile
.dockerignore
node_modules
*.log
*.BAK
README.md
docker
.next
.git
.github
.vscode
.husky
.storybook
.swc
.*rules
.*ignore
.env
.env.*
next-env.d.ts
plop-templates
plopfile.js
check-deps.js
commitlint.config.js
CONTRIBUTING.md
docs
logs
analyze
certificates
coverage
