import React from "react";
import Head from "next/head";

const {{pascalCase name}} = () => {
	return (
		<>
			<Head>
				<title>{{titleCase name}} | Eko API Marketplace</title>
			</Head>
			<h1>Add Page Content Here</h1>
		</>
	);
};

export default {{pascalCase name}};
