@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    box-sizing: border-box;
    padding: 0px 0px;
    margin: 0px 0px;
}
